@import url(http://fonts.googleapis.com/css?family=Cutive);
* {
  padding: 0;
  margin: 0; }

@media screen and (min-width: 0em) {
  article {
    background-color: #cdeee1; }
    article section {
      padding: 0 3em; }
    article section.room {
      min-height: 100vh;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around; }
      article section.room .door {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 8em;
        border: solid 0.1em #70b99c;
        padding: 0 0.5em;
        font-family: 'Cutive', serif;
        font-size: 2em;
        margin: 0.25em 0; }
        article section.room .door .icon {
          fill: #70b99c;
          min-width: 1.5em;
          max-width: 1.5em; }
        article section.room .door a {
          color: #70b99c;
          text-decoration: none;
          width: 6.5em;
          display: flex;
          align-items: center; }
          article section.room .door a span {
            padding-left: 0.3em; }
      article section.room .door:hover {
        background-color: #70b99c;
        cursor: pointer; }
        article section.room .door:hover a {
          color: #cdeee1; }
        article section.room .door:hover .icon {
          fill: #cdeee1; }
    article section.landing {
      height: 100vh;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 0 2em; }
      article section.landing h1, article section.landing h2 {
        color: #70b99c;
        font-family: 'Cutive', serif;
        font-size: 3em;
        line-height: 1.2; }
        article section.landing h1 a, article section.landing h2 a {
          line-height: 1;
          color: #469b79;
          text-decoration: none;
          border-bottom: dotted 0.1em #70b99c; }
      article section.landing h1 .icon {
        fill: white;
        width: 3em; }
      article section.landing h2 .icon {
        fill: white;
        width: 1em; }
      article section.landing h1.highlight {
        background-color: yellow;
        font-size: 4em;
        margin-bottom: 0.3em; }
      article section.landing h2 {
        font-size: 2em;
        text-align: center;
        line-height: 1.3; }
      article section.landing h2.pass {
        margin: 0.5em;
        background-color: #469b79;
        border: solid 0.1em white;
        padding: 0.5em; }
        article section.landing h2.pass a {
          font-size: 0.6em;
          border-style: none;
          color: white; }
          article section.landing h2.pass a .icon {
            width: 1.2em; } }
@media screen and (min-width: 40em) {
  article {
    background-image: url(images/mumbai.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; }
    article section {
      padding: 0 5em; }
    article section.landing h1 span, article section.landing h2 span {
      color: #f1f1f1;
      background-color: black;
      opacity: 0.8;
      padding: 0.2em;
      line-height: 2; }
      article section.landing h1 span a, article section.landing h2 span a {
        color: white;
        text-decoration: none;
        border-bottom: dotted 0.1em #f1f1f1; }
    article section.room .door {
      background-color: black;
      opacity: 0.8; }
      article section.room .door a {
        color: white; }
      article section.room .door .icon {
        fill: white; }
    article section.room .door:hover {
      background-color: white;
      opacity: 0.6; }
      article section.room .door:hover a {
        color: #469b79; }
      article section.room .door:hover .icon {
        fill: #469b79; } }
@media screen and (min-width: 60em) {
  article section {
    padding: 0 10em; } }
@media screen and (min-width: 70em) {
  article section {
    padding: 0 15em !important; }
  article section.landing h2.pass a {
    font-size: 1.5em; } }

/*# sourceMappingURL=style.css.map */
