@import url(http://fonts.googleapis.com/css?family=Cutive);

*{
	padding: 0; margin: 0; 
	font-family: 'Cutive', serif;
}

@media screen and (min-width: 0em){

	header{
		position: fixed;
		right: 1em;
		top: 1em;
		a{
			.icon{
				padding: 0.5em;
				border-radius: 50%;
				border: dotted 0.1em #469b79;
				width: 1.5em;
				fill: #cdeee1;
				background-color: #469b79;
			}
		}
	}


	.lightbox-target{
		position: fixed;
		top: -100%;
		height: 100vh;
		overflow: hidden;
		a.lightbox-close{
			.icon{
				fill: #469b79;
			}
		}
	}

	.lightbox-target:target{
		top: 0;
		bottom: 0;
		height: 100vh;
		width: 100%;
		opacity: 0.95;
		color: white;
		text-align: right;
		background-color: black;
		a.lightbox-close{
			display: inline-block;
			padding-top: 1em;
			padding-right: 1em;
			width: 2.5em;
		}
		ul{
			text-align: center;
			li{
				padding: 1em;
				list-style-type: none;
				a{
					text-decoration: none;
					font-size: 1.5em;
					color: white;
				}
			}
		}
	}

	article{
		background-color: #cdeee1;
		section{
			padding: 0 3em;
		}
		section.room{
			min-height: 100vh;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			align-items: center;

			.door{
				display: flex;
				flex-flow: row nowrap;
				width: 8em;
				border: solid 0.1em #70b99c;
				padding: 0 0.5em;
				font-size: 2em;
				margin: 0.25em 0;
				.icon{
					fill: #70b99c;
					min-width: 1.5em;
					max-width: 1.5em;
				}
				a{	
					span{
						padding-left: 0.3em;
					}
					color: #70b99c;
					text-decoration: none;
					width: 6.5em;
					display: flex;
					align-items: center;
				}
			}
			.door:hover{
				background-color: #70b99c;
				cursor: pointer;
				a{
					color: #cdeee1;
				}
				.icon{
					fill: #cdeee1; 
				}
			}
		}
		section.landing{
			height: 100vh;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			padding: 0 2em;
			h1, h2{
				color: #70b99c;
				font-size: 3em;
				line-height: 1.2;
				a{
					line-height: 1;
					color: #469b79;
					text-decoration: none;
					border-bottom: dotted 0.1em #70b99c;
				}
			}
			h1{
				.icon{
					fill: white;
					width: 3em;
				}
			}
			h2{
				.icon{
					fill: white;
					width: 1em;
				}
			}
			h1.highlight{
				background-color: yellow;
				font-size: 4em;
				margin-bottom: 0.3em;
			}
			h2{
				font-size: 2em;
				text-align: center;
				line-height: 1.3;
			}
			h2.pass{
				margin: 0.5em;
				background-color: #469b79;
				border: solid 0.1em white;
				padding: 0.5em;
				a{
					font-size: 0.6em;
					border-style: none;
					color: white;
					.icon{
						width: 1.2em;
					}
				}
			}
			
		}
		
	}

}

@media screen and (min-width: 40em){

	header{
		position: fixed;
		right: 1em;
		top: 1em;
		a{
			.icon{
				padding: 0.5em;
				border-radius: 50%;
				border: dotted 0.1em #469b79;
				width: 1.5em;
				fill: #469b79;
				background-color: white;
			}
		}
	}

	article{
		background-image: url(images/mumbai.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		section{
			padding: 0 5em;
		}
		section.landing{
			h1,h2{
				span{
					color: #f1f1f1;
					background-color: black;
					opacity: 0.8;
					padding: 0.2em;
					line-height: 2;
					a{
						color: white;
						text-decoration: none;
						border-bottom: dotted 0.1em #f1f1f1;
					}
				}
			}
		}
		section.room{
			.door{
				background-color: black;
				opacity: 0.8;
				a{
					color: white;
				}
				.icon{
					fill: white;
				}
			}
			.door:hover{
				background-color: white;
				opacity: 0.6;
				a{
					color: #469b79;
				}
				.icon{
					fill: #469b79;
				}
			}
		}
	}
}


@media screen and (min-width: 60em){

	header{
		position: fixed;
		right: 3em;
		top: 3em;
	}

	.lightbox-target:target{
		a.lightbox-close{
			padding-top: 3em;
			padding-right: 3em;
			width: 2.5em;
		}
	}

	article{
		section{
			padding: 0 10em;
		}
	}
}

@media screen and (min-width: 70em){
	article{
		section{
			padding: 0 15em !important;
		}
		section.landing{
			h2.pass{
				a{
					font-size: 1.5em;
				}
			}
		}
	}
}